// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.my_site_title {
  color: #101010;
  text-shadow: 1px 1px 1px  #0F3B6A;
  font-size:20px;
}
.my_site_subtitle {
  color: #606060;
  font-size:10px;
}
